.home-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  max-height: 420px;
  object-fit: cover;
  border-radius: 18px;
}

/* Slick fixes */
.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-dots li button:before {
  color: #9c27b0;
}
